{% extends 'generic/object.html' %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'dcim:coolingfeed_list' %}?site_id={{ object.cooling_source.site.pk }}">{{ object.cooling_source.site }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'dcim:coolingfeed_list' %}?cooling_source_id={{ object.cooling_source.pk }}">{{ object.cooling_source }}</a></li>
  {% if object.rack %}
    <li class="breadcrumb-item"><a href="{% url 'dcim:coolingfeed_list' %}?rack_id={{ object.rack.pk }}">{{ object.rack }}</a></li>
  {% endif %}
{% endblock %}
