{% extends 'dcim/rack/base.html' %}
{% load buttons %}
{% load helpers %}
{% load static %}
{% load plugins %}
{% load i18n %}
{% load mptt %}

{% block content %}
  <div class="row">
	  <div class="col col-12 col-xl-5">
      {{ rack_panel }}
      {% include 'dcim/inc/panels/racktype_dimensions.html' %}
      {% include 'dcim/inc/panels/racktype_numbering.html' %}
      <div class="card">
        <h2 class="card-header">{% trans "Weight" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Rack Weight" %}</th>
            <td>
              {% if object.weight %}
                {{ object.weight|floatformat }} {{ object.get_weight_unit_display }}
              {% else %}
                {{ ''|placeholder }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Maximum Weight" %}</th>
            <td>
              {% if object.max_weight %}
                {{ object.max_weight }} {{ object.get_weight_unit_display }}
              {% else %}
                {{ ''|placeholder }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Total Weight" %}</th>
            <td>
                {% if object.total_weight %}
                    {{ object.total_weight|floatformat }} {% trans "Kilograms" %}
                    ({{ object.total_weight|kg_to_pounds|floatformat }} {% trans "Pounds" %})
                {% else %}
                    {{ ''|placeholder }}
                {% endif %}
            </td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
      {% include 'inc/panels/image_attachments.html' %}
      {% plugin_left_page object %}
	  </div>
    <div class="col col-12 col-xl-7">
      <div class="text-end mb-4">
        <select class="btn btn-outline-secondary no-ts rack-view">
          <option value="images-and-labels" selected="selected">{% trans "Images and Labels" %}</option>
          <option value="images-only">{% trans "Images only" %}</option>
          <option value="labels-only">{% trans "Labels only" %}</option>
        </select>
      </div>
        <div class="row" style="margin-bottom: 20px">
          <div class="col col-md-6 col-sm-6 col-xs-12 text-center">
            <div style="margin-left: 30px">
              <h2 class="h4">{% trans "Front" %}</h2>
              {% include 'dcim/inc/rack_elevation.html' with face='front' extra_params=svg_extra %}
            </div>
          </div>
          <div class="col col-md-6 col-sm-6 col-xs-12 text-center">
            <div style="margin-left: 30px">
              <h2 class="h4">{% trans "Rear" %}</h2>
              {% include 'dcim/inc/rack_elevation.html' with face='rear' extra_params=svg_extra %}
            </div>
          </div>
        </div>
        {% include 'inc/panels/related_objects.html' %}
        {% plugin_right_page object %}
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12">
      {% plugin_full_width_page object %}
    </div>
  </div>
{% endblock %}
