{% extends 'generic/objectchildren_list.html' %}

{% block bulk_controls %}
    {{ block.super }}
    {% if perms.dcim.add_interface %}
        <div class="bulk-button-group">
            <a href="{% url 'dcim:interface_add' %}?device={{ object.pk }}&return_url={% url 'dcim:device_interfaces' pk=object.pk %}"
               class="btn btn-primary btn-sm">
                <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add Interfaces
            </a>
        </div>
    {% endif %}
{% endblock %}