{% load form_helpers %}
{% load i18n %}

<form action="{{ form_url }}" method="post">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">{% trans "Confirm Deletion" %}</h5>
  </div>
  <div class="modal-body">
    <p>
      {% blocktrans %}
        Are you sure you want to <strong class="text-danger">delete</strong> {{ object_type }} <strong>{{ object }}</strong>?
      {% endblocktrans %}
    </p>
    {% if related_objects %}
    <p>
      This will cause deletion of the following objects: <br>
      <div class="accordion" id="deleteAccordion">

      {% for model,object_dict in related_objects.items %} 
        <div class="accordion-item">
          <h2 class="accordion-header" id="deleteheading{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
              {{ object_dict.objects |length }} {{ object_dict.title }}
            </button>
          </h2>
          <div id="collapse{{  forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="deleteheading{{ forloop.counter }}" data-bs-parent="#deleteAccordion">
            <div class="accordion-body">
              {% for object in object_dict.objects %}
                - {{ object | linkify }}{% if not forloop.last %}<br> {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
        </div>
    </p>
    {% endif %}
    {% render_form form %}
  </div>
  <div class="modal-footer">
    {% if return_url %}
      <a href="{{ return_url }}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
    {% else %}
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
    {% endif %}
    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
  </div>
</form>
