{# Render an HTMX-enabled table with paginator #}
{% load helpers %}
{% load render_table from django_tables2 %}

{% with preferences|get_key:"pagination.placement" as paginator_placement %}
  {% if paginator_placement == 'top' or paginator_placement == 'both' %}
    <div class="position-sticky sticky-top-table-p0">
      {% include 'inc/paginator_htmx.html' with paginator=table.paginator page=table.page %}
    </div>
  {% endif %}
  {% render_table table 'inc/table_htmx.html' %}
  {% if paginator_placement != 'top' %}
    <div class="position-sticky sticky-bottom-table-p1">
      {% include 'inc/paginator_htmx.html' with paginator=table.paginator page=table.page %}
    </div>
  {% endif %}
{% endwith %}
