{% load helpers i18n %}
<div class="card">
  <h2 class="card-header">{% trans "Prefix" %}</h2>
  <table class="table table-hover attr-table">
    <tr>
      <th scope="row">{% trans "Family" %}</th>
      <td>IPv{{ object.family }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "VRF" %}</th>
      <td>
        {% if object.vrf %}
          {{ object.vrf|linkify }}
        {% else %}
          <span>{% trans "Global" %}</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">{% trans "Tenant" %}</th>
      <td>
        {% if object.tenant.group %}
          {{ object.tenant.group|linkify }} /
        {% endif %}
        {{ object.tenant|linkify|placeholder }}
      </td>
    </tr>
    <tr>
      <th scope="row">{% trans "Aggregate" %}</th>
      <td>
        {% if aggregate %}
          {{ aggregate|linkify }} ({{ aggregate.rir }})
        {% else %}
          {{ ''|placeholder }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">{% trans "Scope" %}</th>
      {% if object.scope %}
        <td>{{ object.scope|linkify }} ({% trans object.scope_type.name %})</td>
      {% else %}
        <td>{{ ''|placeholder }}</td>
      {% endif %}
    </tr>
    <tr>
      <th scope="row">{% trans "VLAN" %}</th>
      <td>
        {% if object.vlan %}
          {% if object.vlan.group %}
            {{ object.vlan.group|linkify }} /
          {% endif %}
          {{ object.vlan|linkify }}
        {% else %}
          {{ ''|placeholder }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">{% trans "Status" %}</th>
      <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Role" %}</th>
      <td>{{ object.role|linkify|placeholder }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Description" %}</th>
      <td>{{ object.description|placeholder }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Is a pool" %}</th>
      <td>{% checkmark object.is_pool %}</td>
    </tr>
  </table>
</div>
