{% load i18n %}
<div class="card">
  <h2 class="card-header">
    {% trans "Addressing" %}
    {% if object.prefix.version == 4 %}
      <div class="card-actions">
        <a class="btn btn-ghost-primary btn-sm" data-bs-toggle="modal" data-bs-target="#prefix-modal">
          <i class="mdi mdi-information-outline" aria-hidden="true"></i> {% trans "Addressing Details" %}
        </a>
      </div>
    {% endif %}
  </h2>
  <div
    class="htmx-container"
    hx-get="{% url 'ipam:prefix' pk=object.pk %}?addressing=true"
    hx-target="this"
    hx-trigger="load"
    hx-select=".htmx-container"
    hx-swap="outerHTML"
  >
    <div class="text-center py-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">{% trans "Loading" %}</span>
      </div>
    </div>
  </div>
</div>
