{% load helpers %}

<div class="card">
    <h5 class="card-header">
        Non-Racked Devices
    </h5>
      <div class="card-body htmx-container table-responsive"
        hx-get="{% url 'dcim:device_list' %}?site_id={{ site_id }}&rack_id=null&parent_bay_id=null"
        hx-trigger="load"
      ></div>

    {% if perms.dcim.add_device %}
        {% if object|meta:'verbose_name' == 'rack' %}
        <div class="card-footer text-end noprint">
            <a href="{% url 'dcim:device_add' %}?site={{ site_id }}&rack={{ object.pk }}" class="btn btn-primary btn-sm">
                <i class="mdi mdi-plus-thick" aria-hidden="true"></i>
                Add a Non-Racked Device
            </a>
        </div>
        {% elif object|meta:'verbose_name' == 'site' %}
        <div class="card-footer text-end noprint">
            <a href="{% url 'dcim:device_add' %}?site={{ site_id }}" class="btn btn-primary btn-sm">
                <i class="mdi mdi-plus-thick" aria-hidden="true"></i>
                Add a Non-Racked Device
            </a>
        </div>
        {% elif object|meta:'verbose_name' == 'location' %}
        <div class="card-footer text-end noprint">
            <a href="{% url 'dcim:device_add' %}?site={{ site_id }}&location={{ object.pk }}" class="btn btn-primary btn-sm">
                <i class="mdi mdi-plus-thick" aria-hidden="true"></i>
                Add a Non-Racked Device
            </a>
        </div>
        {% endif %}
    {% endif %}
</div>
