<div class="border rounded markdown-preview"> 
    <ul class="nav nav-tabs px-3 pt-2 rounded-top bg-transparent border-0">
        <li class="nav-item" role="presentation">
          <button class="nav-link active " id="comment-input-tab" data-bs-toggle="tab" data-bs-target="#comment-input" type="button" role="tab" aria-controls="comment-input" aria-selected="true">
            Write
          </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="markdown-preview-tab" data-bs-toggle="tab" data-bs-target="#markdown-preview" type="button" role="tab" aria-controls="markdown-preview" aria-selected="false">
              Preview   
            </button>
          </li>
      </ul>
      <div class="tab-content bg-body rounded-bottom border-top">
        <div class="tab-pane show active" id="comment-input" role="tabpanel" aria-labelledby="comment-input-tab">
        {% include "django/forms/widgets/textarea.html" %}
        </div>
        <div class="tab-pane show" id="markdown-preview" role="tabpanel" aria-labelledby="markdown-preview-tab">
            <div class="test">This is rendered markdown</div>
        </div>
    </div>
</div>