{# optgroups is Django's CheckboxSelectMultiple context: list of (group_name, options, index) tuples #}
{% for group_name, options, index in widget.optgroups %}{% for option in options %}
<div class="row mb-3">
  <div class="col offset-3">
    <div class="form-check mb-0">
      <input type="checkbox"
             class="form-check-input"
             name="{{ option.name }}"
             value="{{ option.value }}"
             id="{{ option.attrs.id }}"
             data-models="{{ option.model_keys }}"
             {% if option.selected %}checked{% endif %}>
      <label class="form-check-label" for="{{ option.attrs.id }}">
        {{ option.label }}{% if option.help_text %} <small class="text-muted ms-1">{{ option.help_text }}</small>{% endif %}
      </label>
    </div>
  </div>
</div>
{% endfor %}{% endfor %}
