{% extends 'users/base.html' %}
{% load i18n %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Permission" %} {{ object.name }}{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Account Details" %}</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Name" %}</th>
              <td>{{ object.name }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Assigned Users" %}</h5>
        <ul class="list-group list-group-flush">
          {% for user in object.users.all %}
            <li class="list-group-item">{{ user }}</li>
          {% empty %}
            <li class="list-group-item text-muted">{% trans "None" %}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="card">
        <h5 class="card-header">{% trans "Assigned Groups" %}</h5>
        <ul class="list-group list-group-flush">
          {% for group in object.groups.all %}
            <li class="list-group-item">{{ group }}</li>
          {% empty %}
            <li class="list-group-item text-muted">{% trans "None" %}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
