{% extends "ui/panels/_base.html" %}
{% load helpers i18n %}

{% block panel_content %}
  <table class="table table-hover">
    {% if mappings %}
      <thead>
        <tr>
          <th>{% trans "Position" %}</th>
          <th>{{ label_column }}</th>
        </tr>
      </thead>
    {% endif %}
    <tbody>
      {% for mapping in mappings %}
        <tr>
          {% with position=mapping|getattr:position_field port=mapping|getattr:port_field port_position=mapping|getattr:port_position_field %}
            <td>{{ position }}</td>
            <td>
              <a href="{{ port.get_absolute_url }}">{{ port }}:{{ port_position }}</a>
            </td>
          {% endwith %}
        </tr>
      {% empty %}
        <tr>
          <td class="text-muted">{% trans "No mappings defined" %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock panel_content %}
