// Navbar styling
.navbar-vertical.navbar-expand-lg {
  .navbar-collapse {
    .dropdown-menu {
      .dropdown-item {
        a {
          color: inherit;
        }

        // Adjust hover color & style for menu items
        &:hover {
          background-color: $gray-700;
          a {
            text-decoration: none;
          }
        }

        // Style active menu item
        &.active {
          background-color: $gray-700;
          a {
            color: white;
          }
        }

      }
    }
  }
}
