// Disable font-ligatures for Chromium based browsers
// Chromium requires `font-variant-ligatures: none` in addition to `font-feature-settings "liga" 0`
* {
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;
}

// Restore default foreground & background colors for <pre> blocks
pre {
  background-color: transparent;
  color: inherit;
}

// Buttons
.btn {
  // Tabler sets display: flex
  display: inline-block;
}
.btn-sm {
  // $border-radius-sm (2px) is too small
  border-radius: $border-radius;
}

// Tabs
.nav-tabs {
  .nav-link {
    // Tabler sets display: flex
    display: inline-block;
  }
}

// Dropdown items
.dropdown-item {
  // Tabler sets display: flex
  display: inline-block;;
}

table a {
  color: $dark-teal;
}

// Side navigation
.navbar-vertical {
  background-color: $rich-black;
  .dropdown-item {
    color: white!important;
  }
  .text-secondary {
    color: $gray-400!important;
  }
}

// Dark mode overrides
body[data-bs-theme=dark] {

  // Background colors to match brand colors
  background-color: $rich-black;
  .navbar, .page-header {
    background-color: $rich-black;
  }
  .page, .page-tabs .nav-tabs .nav-link.active {
    background-color: $rich-black-light;
  }

  // Adjust dark table link color without affecting buttons and badges
  table {
    a {
      color: $bright-teal;
    }
    .badge a {
      color: inherit;
    }
    .btn {
      color: var(--#{$prefix}body-color);
    }
  }
}

// Dark mode colors
@if $enable-dark-mode {
  @include color-mode(dark, true) {
    --#{$prefix}link-color: #{$bright-teal};
    --#{$prefix}secondary: #{$gray-400};
  }
}
