// Color labels
span.color-label {
  display: block;
  width: 5rem;
  height: 1rem;
  padding: $badge-padding-y $badge-padding-x;
  border: 1px solid #303030;
  border-radius: $border-radius;
}

// Rendered Markdown
.rendered-markdown {

  table {
    width: 100%;

    // Apply a border
    th {
      border-bottom: 2px solid #dddddd;
      padding: 8px;
    }
    td {
      border-top: 1px solid #dddddd;
      padding: 8px;
    }

    // Map "align" attr of column headings
    th[align="left"] {
      text-align: left;
    }
    th[align="center"] {
      text-align: center;
    }
    th[align="right"] {
      text-align: right;
    }
  }

}
