{% extends base_template %}
{% load helpers %}

{% block content %}
    {% include 'inc/table_controls_htmx.html' with table_modal=table_config %}
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-body htmx-container table-responsive" id="object_list">
                {% include 'htmx/table.html' %}
            </div>
        </div>

        {% block bulk_controls %}
            <div class="noprint bulk-buttons">
                <div class="bulk-button-group">
                    {% if 'bulk_edit' in actions %}
                        <div class="btn-group" role="group">
                            {% with bulk_edit_view=child_model|validated_viewname:"bulk_edit" %}
                                {% if bulk_edit_view %}
                                    <button type="submit" name="_edit"
                                            formaction="{% url bulk_edit_view %}?return_url={{ return_url }}"
                                            class="btn btn-warning btn-sm">
                                        <i class="mdi mdi-pencil" aria-hidden="true"></i> Edit
                                    </button>
                                {% endif %}
                            {% endwith %}
                            {% with bulk_rename_view=child_model|validated_viewname:"bulk_rename" %}
                                {% if bulk_rename_view %}
                                    <button type="submit" name="_rename"
                                            formaction="{% url bulk_rename_view %}?return_url={{ return_url }}"
                                            class="btn btn-outline-warning btn-sm">
                                        <i class="mdi mdi-pencil-outline" aria-hidden="true"></i> Rename
                                    </button>
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% endif %}
                    <div class="btn-group" role="group">
                        {% with bulk_delete_view=child_model|validated_viewname:"bulk_delete" %}
                            {% if 'bulk_delete' in actions and bulk_delete_view %}
                                <button type="submit"
                                        formaction="{% url bulk_delete_view %}?return_url={{ return_url }}"
                                        class="btn btn-danger btn-sm">
                                    <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i> Delete
                                </button>
                            {% endif %}
                        {% endwith %}
                        {% if 'bulk_edit' in actions %}
                            {% with bulk_disconnect_view=child_model|validated_viewname:"bulk_disconnect" %}
                                {% if bulk_disconnect_view %}
                                    <button type="submit" name="_disconnect"
                                            formaction="{% url bulk_disconnect_view %}?return_url={{ return_url }}"
                                            class="btn btn-outline-danger btn-sm">
                                        <span class="mdi mdi-ethernet-cable-off" aria-hidden="true"></span> Disconnect
                                    </button>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
                {% block extra_contols_bottom %}
                {% endblock %}
            </div>
        {% endblock %}
    </form>
{% endblock content %}

{% block modals %}
    {{ block.super }}
    {% table_config_form table %}
{% endblock modals %}
