{% extends 'generic/object.html' %}
{% load i18n %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'core:background_queue_list' %}">{% trans 'Background Tasks' %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'core:background_task_list' queue_index=queue_index %}">{{ queue.name }}</a></li>
{% endblock breadcrumbs %}

{% block title %}{% trans "Job" %} {{ job.id }}{% endblock %}

{% block object_identifier %}{% endblock %}

{% block controls %}
  <div class="controls">
    <div class="control-group">
      {% block extra_controls %}{% endblock %}
    </div>
  </div>
{% endblock controls %}

{% block tabs %}
  <ul class="nav nav-tabs px-3">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" role="tab">{% trans "Job" %}</a>
    </li>
  </ul>
{% endblock tabs %}

{% block content %}
    <div class="row">
      <div class="col col-md-12">
        <div class="card">
          <h5 class="card-header">{% trans "Job" %}</h5>
          <div class="card-body">
            <table class="table table-hover attr-table">
              <tr>
                <th scope="row">{% trans "Queue" %}</th>
                <td>{{ job.origin|placeholder }}</td>
              </tr>
              <tr>
                <th scope="row">{% trans "Timeout" %}</th>
                <td>{{ job.timeout|placeholder }}</td>
              </tr>
              <tr>
                <th scope="row">{% trans "Result TTL" %}</th>
                <td>{{ job.result_ttl|placeholder }}</td>
              </tr>
              <tr>
                <th scope="row">{% trans "Created" %}</th>
                <td>{{ job.created_at|annotated_date }}</td>
              </tr>
              <tr>
                <th scope="row">{% trans "Queued" %}</th>
                <td>{{ job.enqueued_at|annotated_date }}</td>
              </tr>
              <tr>
                <th scope="row">{% trans "Status" %}</th>
                <td>{{ job.get_status|placeholder }}</td>
              </tr>
              <tr>
                <th scope="row">{% trans "Callable" %}</th>
                <td>{{ object.get_type_display|placeholder }}</td>
              </tr>
              <tr>
                <th scope="row">{% trans "Meta" %}</th>
                <td>{{ job.meta|placeholder }}</td>
              </tr>
              <tr>
                <th scope="row">{% trans "Args" %}</th>
                <td>{{ jobs.args|placeholder }}</td>
              </tr>
              <tr>
                <th scope="row">{% trans "Kwargs" %}</th>
                <td>{{ job.kwargs|placeholder }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
