{% extends 'generic/_base.html' %}
{% load buttons %}
{% load helpers %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block title %}{% trans "Plugins" %}{% endblock %}

{% block controls %}
{% endblock controls %}

{% block tabs %}
  <ul class="nav nav-tabs px-3">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" role="tab">{% trans "Plugins" %}</a>
    </li>
  </ul>
{% endblock tabs %}

{% block content %}
  <p>{% trans "NetBox plugins enable you to document and model new kinds of resources, connect automations, add workflows, and much more." %}</p>

  <div class="row mb-3" id="results">
    <div class="col-auto d-print-none">
      <div class="input-group input-group-flat me-2 mt-2 quicksearch" hx-disinherit="hx-select hx-swap">
        <input type="search" results="5" name="q" id="quicksearch" class="form-control" placeholder="{% trans "Quick search" %}"
            hx-get="{{ request.full_path }}" hx-target="#plugins_list" hx-trigger="keyup changed delay:500ms, search"/>
        <span class="input-group-text py-1">
          <a href="#" id="quicksearch_clear" class="invisible text-secondary"><i class="mdi mdi-close-circle"></i></a>
        </span>
      </div>
    </div>

    <div class="col-auto ms-auto d-print-none">

        <div class="row">
          <div class="col-auto">
            <div class="px-2 d-print-none">
              {% trans "Status" %}
              <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ status_choices|get_key:status }}
                </button>
                <div class="dropdown-menu">
                  {% for level, name in status_choices.items %}
                    <a class="dropdown-item d-flex justify-content-between" href="{% url 'core:plugin_list' %}?status={{ level }}">
                      {{ name }}
                      {% if level == status %}<span class="badge bg-green ms-auto"></span>{% endif %}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="col-auto">
            <div class="px-2 d-print-none">
                {% trans "Sort" %}
              <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ sort_choices|get_key:sort }}
                </button>
                <div class="dropdown-menu">
                  {% for level, name in sort_choices.items %}
                    <a class="dropdown-item d-flex justify-content-between" href="{% url 'core:plugin_list' %}?sort={{ level }}">
                      {{ name }}
                      {% if level == sort %}<span class="badge bg-green ms-auto"></span>{% endif %}
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div>

    </div>

  </div>

  {# System status #}
  <div class="row mb-3 htmx-container" id="plugin_list">
      {% include 'core/htmx/plugins.html' %}
  </div>

{% endblock content %}
